{% extends "base.html" %}
{% block content %}

<div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/welcome">Home</a></li>
        <li role="presentation" class="active"><a href="/addTransaction">Add New Data</a></li>
        <li role="presentation"><a href="/modifyTransaction">Modify Data</a></li>
        <li role="presentation"><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">CACTES Association</h3>
</div>

    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
<div class="jumbotron">
    <h1>Add New Data</h1>
    <form class="form-signin" action="" method="post">
        <h3 style="text-align:left; font-size:20px;">District</h3>
        <select class="form-control" name="district" required autofocus>
            <option>Surrey</option>
            <option>Vancouver</option>
            <option>Coquitlam</option>
            <option>Delta</option>
        </select>
        <h3 style="text-align:left; font-size:20px;">Date</h3>
        <input type="date" name="date" class="form-control" required>
        <h3 style="text-align:left; font-size:20px;">Person Responsible</h3>
        <input type="text" name="staff" class="form-control" placeholder="Full Name"required>
        <h3 style="text-align:left; font-size:20px;">Event</h3>
        <input type="text" name="event" class="form-control" required>
        <h3 style="text-align:left; font-size:20px;">Income</h3>
        <input type="number" name="income" class="form-control" required>
        <h3 style="text-align:left; font-size:20px;">Expense</h3>
        <input type="number" name="expense" class="form-control" required>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add">
    </form>
</div>
 
{% endblock %}