<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>CACTES Association Staff Website</title>
 
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="{{ url_for('static', filename = 'jumbotron-narrow.css') }}" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 
    <script type="text/javascript" src="{{ url_for('static', filename = 'welcome.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.2.1.js') }}"></script>
</head>
 
<body>
 
    <div class="container">
      
    <!-- child template -->
    {% block content %}{% endblock %}
 
    <footer class="footer">
        <p>&copy; CACTES Association 2017</p>
    </footer>
        
    </div>
</body>
 
</html>