{% extends "base.html" %}
{% block content %}

<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/welcome">Home</a></li>
            <li role="presentation"><a href="/addTransaction">Add New Data</a></li>
            <li role="presentation"><a href="/modifyTransaction">Modify Data</a></li>
            <li role="presentation"><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">CACTES Association</h3>
</div>
{% if user %}
<h4><strong>Welcome, {{ user }} </strong></h4>
{% endif %}

<div class="jumbotron">
    <h1>CACTES Finance</h1>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="/addTransaction" role="button">Add New Data</a>
    </p>
    <p><a class="btn btn-lg btn-success" href="/modifyTransaction" role="button">Modify Data</a>
    </p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        
        <table class="pure-table pure-table-horizontal">
         <thead>
            <td>TransactionID</td>
            <td>Date</td>
            <td>Person Responsible</td>
            <td>Event</td>
            <td>Income</td>
            <td>Expense</td>
            <td>Balance</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["TransactionID"]}}</td>
               <td>{{row["Date"]}}</td>
               <td> {{row["Person_Responsible"]}}</td>
               <td>{{row["Event"]}}</td>
               <td>{{row["Income"]}}</td>
               <td> {{row["Expense"]}}</td>
               <td>{{row["Balance"]}}</td>
            </tr>
         {% endfor %}
      </table>
    </div>
</div>
 
{% endblock %}